---
import BaseLayout from "./BaseLayout.astro";

const { title, toc } = Astro.props;
---

<BaseLayout title={title} toc={toc}>
    <div class="w-fit place-self-center p-6">
        <slot />
    </div>
</BaseLayout>
